
*{
    margin:0;
    padding:0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: url('./assets/background.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  margin: 250px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h5{
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    padding: 16px 20px;
}
    .form-container {
      text-align: left; 
      
    }

.loginpage{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:transparent;
    border:2px#ffffff;
    width:400px;
    height:400px;
    box-shadow:-10px -10px 15px rgba(0,0,0,0.1),
    10px 10px 15px rgba(0,0,0,0.1);
    border-radius: 10px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px 0px;
}
label {
         display: block;
      text-align: left; 
      color: rgb(255, 255, 255);       
      font-weight: bold;
     
    }
input[type="text"] {
      width: 340px; 
      height: 40px;  
      font-size: 16px; 
       margin-right: 7px;
       outline:none;
    border:1px solid #ccc;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
   
    }

input[type="password"] {
      width: 340px; 
      height: 40px;  
      font-size: 16px; 
       margin-right: 7px;
       outline:none;
    border:1px solid #ccc;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    }
input::placeholder {
  color: #8e8c8c; 
  opacity: 1;    
}


input[type="submit"]{
    width: 360px; 
    height: 40px;  
    font-size: 25px; 
    margin-right: 7px;
    outline:none;
    border:1px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    background-color:transparent;
    }
 
.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.full-width input {
  width: 360px ;
}

.forgot-password {
  align-self: flex-start;
  margin-left: 5px; 
  color: white;
  font-size: 14px;
  cursor: pointer;
}


.createaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:green;
    width:250px;
    height:50px;
    font-size:18px;
    color:white;
    border-radius: 10px;
}
hr {
  border: 1px solid #ccc;
  width: 350px;
  margin: 12px 3px;
}
a{
  color: #ffffff;
  margin-left: 5px;
}